@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    min-width: 640px;
    scroll-behavior: smooth;
}
nav{
  width: 100%;
  height: 90px;
  display: grid;
  grid-template-columns:1fr 15fr 1fr;
  border-bottom: solid rgb(255, 153, 0) 1px;
  padding-bottom: 1vh;
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

nav .box2{
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  justify-content: center;
}
nav .txt{
  width: vh
}
nav .txt h3{
  font-size: 3vh;
  margin-top: 10px;
}
nav .logo{
  display: flex;
  align-items: center;
  color: white;
}
nav .logo img{
  width: 10vh;
  margin-right: 2vh; 
}
nav .nav-links{
  display: flex;
  justify-content:center ;
}
nav .nav-links ul{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-top: 20px;
}
nav .nav-links ul li{
  margin-left: 4vh;
}
nav .nav-links ul a .activeHome{
  color: rgb(255, 153, 0);
}
nav .nav-links ul a .activeTools{
  color: rgb(255, 153, 0);
}
nav .nav-links ul a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav .nav-links ul a:hover{
  color: rgb(255, 153, 0);
}
/*content*/
.lndmrk .rcg{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}


.lndmrk .rcg .tool {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  background-color: rgb(255, 255, 255);
}
.lndmrk .rcg .tool .container{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: solid black 1px;
  width: 100%;
  height: 100vh;
}
.lndmrk .rcg .tool .container .imgup{
  margin-top: 10vh;

}
.lndmrk .rcg .tool .container .imgup1{
  width: 80vh;
  display: flex;
  flex-direction: column;

}

.lndmrk .rcg .tool .container .imgup1 .choose{
  display: flex;
  align-items: center;
}
.lndmrk .rcg .tool .container .imgup1 .choose{
  cursor: pointer;
}

.lndmrk .rcg .tool .container .imgup1 .sub{
  width: 10vh;
  margin-left: .5vh;
  border-radius: 8px;
}
.lndmrk .rcg .tool .container .imgup1 .sub:hover{
  background-color: black;
  color: rgb(255, 153, 0);

}

.lndmrk .rcg .tool .container .results{
  margin-top: 5vh;
}
.process .how{
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.process .how .card{
  width: 20vh;
  height: 25vh;
  border: solid black 1px;
  border-radius: 10px;
  
}
.process .how .card .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(255, 153, 0);
}
.process .how .card .card-body .bx{
  margin-top: 5vh;
  font-size: 10vh;
}


.lndmrk .footer{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  background-color: rgb(139, 139, 139);
  width: 100%;
  height: 200px;
}